body {
  background-image: url(../images/skinoire.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

#bloc {
  display: block;
}

#p1 {
  margin: 15vw;
  margin-top: 3vw;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1.8vw;
  width: 70vw;
  height: auto;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bouton {
  border-radius: 12px;
  margin: 1.5vw;
  width: 15vw;
  height: 5vw;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: cadetblue;
  border-color: cadetblue;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bouton:hover {
  background-color: white;
  color: black;
}

#nextB {
  padding: 20px;
  background-color: white;
  color: black;
  display: none;
  border-radius: 12px;
  width: 10vw;
  height: auto;
  font-size: 1.2vw;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#img {
  height: 10vw;
}

#score {
  border-radius: 12px;
  width: 4vw;
  height: 3vw;
  color: cadetblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  margin: 15vw;
  margin-top: 3vw;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1.8vw;
  width: 70vw;
  height: 40vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 12px;
  width: 10vw;
  height: 3vw;
  color: cadetblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
